.solbtn{
    background-color: transparent;
    border: none;
    border: 2px solid transparent;
}

.solbtn:hover{
    background-color: transparent;
    border: 2px dashed #02284B;
    color: rgb(129, 122, 122);
}

.filebutton{
    color: #02284B;
    background-color: rgb(189, 214, 238);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border: 2px dashed  #02284B;
}

.filebutton:hover{
    color: #02284B;    
    background-color: rgb(189, 214, 238);
    width: 100%;
}

.setbutton{
    color: rgb(207, 229, 250);
    background-color: rgb(34, 73, 109);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border: 2px dashed  rgb(162, 197, 230);
}

.setbutton:hover{
    color: rgb(207, 229, 250);   
    background-color: rgb(41, 65, 88);
    width: 100%;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
    z-index: 1;
    width: 100%;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity);
	opacity: 0;
	z-index: 2;
}