
.card-body-home {
  color:  #02284B;
  padding: 5%;
  padding-left: 4%;
  padding-right: 4%;
  margin: 2%;
  margin-top: 20%;
  margin-bottom: 0;
  background-color: white;
  border: 7px solid rgb(109, 181, 226)
}

.award {
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 0;

}

.gold {
  border: 4px solid rgb(233, 205, 46);
}

.silver {
  border: 4px solid silver;
}

.bronze {
  border: 4px solid rgb(148, 70, 51);
}


.card-body-home a {
  color: rgb(20, 46, 129);
}

.home-line {
  border-color: #02284B;
}

.home-body {
    background-image: url('../../img/acm_meeting.jpg'); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;  
    z-index: 0;   
    position: relative;
}

.home-body-text {
  color: #DBE7EF;/*#8DB1C6;*/
  font-size: 20px;
}

.card-text-home {
  color: rgb(34, 122, 180);/*#8DB1C6;*/
  font-size: 20px;
}

.button {
  color: white;
}

.button:hover {
  background-color: #02284B;
}

.pseudo {
  position: absolute;
  height: 100%;
  width: 100%; 
  opacity: 0.7; 
  z-index: -1;    
}