.problinkdata{
    color: black;
    text-align: left;
}

.problinkdata:hover{
    color: rgb(158, 150, 150);
}

th, td {
    vertical-align: middle !important;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}

.pagination {
    margin: 0;
}
