.nav-font {
  font-size: 20px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar {
  padding: 40px 0px;
}

.nav-brand {
  position: relative;
  margin-left: 10%;
}

#logo {
  width: 200px;
  right: 100px;
  position: absolute;
  top: -37px;
  left: -60px;
}