.nav-font {
  font-size: 20px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  margin: 0 0.5em;
}

.nav-brand {
  position: relative;
  margin-left: 10%;
}

@media screen and (max-width: 767px) {
  .nav-brand {
    margin: 0px auto;
    position: relative;
    left: 30px;
  }

  #logo {
    position: static;
    width: 140px;
  }

  .navbar {
    padding: 10px 10px;
  }
}
