.small {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.center {
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:0;
}

.m {
    height: 80%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border-color: transparent;
    border-radius: 25px;
}

.easy {
    background-color: lightblue;
}

.med {
    background-color: rgb(121, 152, 192);
}

.hard {
    background-color: rgb(55, 86, 128);
}

.icpc {
    background-color: rgb(24, 64, 117);
}

.codealong {
    background-color: rgb(89, 88, 173);
}

.event {
    background-color: rgb(81, 168, 202);
}

.thanksgiving {
    background-image: url("../../../img/thanksgiving.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

.finals {
    background-image: url("../../../img/finals.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}