.blogcard {
    width:"90%";
    height:"90%";
    border-radius: 0;
    background-color: white;
}

.blogcard:hover {
    width:"100%";
    height:"100%";
    border-radius: 0;
    background-color: rgb(153, 192, 216);
}

.blogcrumb {
    background-color: transparent;
    color:"#6DB6E2";
    padding:0;
}

.event-body {
    background-image: url('../../img/events.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: relative;
    min-height: 520px;
    color: white;
}

.card-body-blog {
    color: black;
    padding: 5%;
    padding-left: 8%;
    padding-right: 8%;
}

.event-link {
    color: #6db6e2;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.event-link:hover {
    color: #02284b;
}

.event-signup-link {
    width: 100%;
    display: inline-block; /* allows to set width and height on element */
}

.event-line {
    border-color: #6db6e2;
}

.event-button {
    width: 100%;
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.event-button:hover {
    color: #02284b;
}

.blog-img {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.blog-post-description-link, .blog-post-description-link:hover {
    color: #6DB6E2;
}
