
.editorial-link-card {
    border-radius: 20px;
    border-color: transparent;
}

.editorial-title, .editorial-text {
    color: white;
}

.editorial-link-card:hover {
    background-color: rgb(120,130,140);
}

.disabled {
    background-color: #666;
}

.disabled:hover {
    background-color: #666;
    cursor: not-allowed;
}