.jumbotron-header {
  color: white;
  font-weight: bold;
}

.lead-sub {
  font-weight: bold;
  font-size: 20px;
}

.banner {
    padding: 4rem 2rem;
}

.banner, .banner img {
    background-color: #6db6e2;
}

.banner img {
  height: 80px;
}



